<div class="mainContainer">
  <img src="{{article.urlToImage}}" alt="ArticleImage" onerror="this.onerror=null;this.src='../assets/notFound.png';">
  <a href="{{article.url}}"><span class="articleTitle">{{this.getTitle()}}</span></a>
  <p>
      <span class="articleSource">{{article.source.name}}, {{article.publishedAt.substring(0, 10)}}, {{article.author}}</span><br>
      <span class="articleDescription">{{this.getDescription()}}</span>

  </p>
</div>

