.mainContainer {
    font-family: "Muli", sans-serif;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid lightgray;
}

.mainContainer img {
    height: 120px;
    width: 150px;
    display: inline;
    position: relative;
}

a .articleTitle {
    position: absolute;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-right: 20px;
    overflow: hidden;
    display: flex;
    top: 10px;
    left: 155px;
    max-lines: 2;
}

a .articleTitle:hover {
    text-decoration: underline;
}
.mainContainer {
    position: relative;
    overflow: hidden;
}

.mainContainer p {
    color: white;
    display: inline;
    position: absolute;
    padding-left: 20px;
    top: 40px;
    width: 60%;
    flex-wrap: wrap;
    max-height: 50px;
    overflow-wrap: normal;
}

.articleSource {
    font-size: 14px;
}

