.mainContainer {
    background: rgb(92, 92, 92);
    width: 100%;
    padding-top: 20px;
    position: relative;
    border-radius: 15px;
}

ul li {
    list-style-type: none;
    padding-right: 40px;
}

pagination-controls {
    text-align: center;
    font-family: "Muli", sans-serif;
}

.mainContainer p {
    font-family: "Muli", sans-serif;
    position: absolute;
    top: -10px;
    right: 40px;
    color: rgb(146, 146, 146);
}

.mainContainer p a {
    text-decoration: none;
    color: rgb(146, 146, 146);
    font-weight: bold;
}

.mainContainer p a:hover {
    text-decoration: underline;
}