<div class="mainContainer">
  <p>Powered by <a href="https://newsapi.org/">NewsAPI</a></p>
  <ul>
    <li *ngFor="let art of recentNews.articles | paginate: config">
      <app-newsFeedItem [article]="art"></app-newsFeedItem>
    </li>
  </ul>
  <pagination-controls (pageChange) = "pageChange($event)"></pagination-controls>
</div>
