<div class="categoriesContainer">
  <div class="buttonContainer">
    <div class="row">
      <button type="button" class="categoryButton">Technology</button>
      <button type="button" class="categoryButton">Computer Science</button>
      <button type="button" class="categoryButton">Programming</button>
      <button type="button" class="categoryButton">Google</button>
      <button type="button" class="categoryButton">Internet</button>

    </div>

  </div>

  <div class="trending">
    <h3>Trending now:</h3>
    <p>{{term1.term}}</p>
    <p>{{term2.term}}</p>
    <p>{{term3.term}}</p>
    <p>{{term4.term}}</p>
    
  </div>

</div>