.categoryButton {
    border: none;

}

.categoriesContainer {
    background: rgb(92, 92, 92);
    padding-top: 15px;
    width: 70%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.buttonContainer {
    display: table;
    margin: 0 auto 0 auto;
    text-align: center;
}

.row {
    display: table-row;
}
.buttonContainer button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(0, 129, 129);
    color: white;
    font-family: "Muli", sans-serif;    
    transition: all 0.3s;
}

.buttonContainer button:hover {
    background: rgb(0, 172, 172);
    position: relative;
    cursor: pointer;
}

.buttonContainer button:active {
    background: rgb(0, 110, 110);
}

.buttonContainer button:focus {
    outline: none;
}

.trending {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.trending p{
    font-family: "Muli", sans-serif;
    display: inline;
    margin-left: 10px;
    font-weight:bold;
    color: rgb(0, 129, 129);
    border-bottom: 1px solid rgb(0, 129, 129);
    transition: all 0.3s;
    overflow: hidden;
}

.trending p:hover {
    transform: scaleX(1.2);
    transform: scaleY(1.1);
    color: black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.trending h3 {
    display: inline-table;
    font-family: "Muli", sans-serif;
}