@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

h1 {
    color: white;
    text-align: center;
    font-family: "Muli", sans-serif;
}

h2 {
    text-align: center;
    font-family: "Muli", sans-serif;
    color: white;
}

body {
    background: rgb(58, 58, 58);
}


