
<div class="queryBarPlaceholder">
  <div class="queryBarContent">
    <input type="text" name="query" id="queryBar" autocomplete="off" required> 
    <label for="query"><span class="defaultText">Search News</span></label>
    <input type="submit" value="Search" id="searchButton">
  </div>
</div>


