.queryBarPlaceholder {
    position: relative;
    border-radius: 60px;
    text-align: center;
    /* box-shadow: 5px 5px 10px gray; */
    min-height: 70px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.queryBarContent {
    position: absolute;
    width: 90%;
    min-width: 50px;
    min-height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#queryBar {
    font-size: 36px;
    font-family: "Muli", sans-serif;
    border: none;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgb(58, 58, 58);
}

label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-family: "Muli", sans-serif;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    pointer-events: none;
}

label::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    border-bottom: 1px solid rgb(0, 129, 129);
    border-width: 2px;
    width: 0%;
    height: 100%;

    transition: all 0.3s;
}

.defaultText {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    font-family: "Muli", sans-serif;
    font-size: 36px;
    color: lightgray;
    transition: all 0.3s;
}

#queryBar:focus {
    outline: none;
}

#queryBar:focus + label .defaultText, 
#queryBar:valid + label .defaultText {
    font-size: 24px;
    transform: translateX(0%);
    left: 0;
    opacity: 0;
}

#queryBar:focus + label::after {
    width: 100%;
}

#searchButton {
    position: absolute;
    right: 0px;
    bottom: 15px;
    background: rgb(0, 129, 129);
    border: none;
    padding: 8px 16px;
    font-family: "Muli", sans-serif;
    border-radius: 15px;
    color: white;
    transform: translateY(-150%);
    transition: all 0.2s;
}

#searchButton:hover {
    background: rgb(0, 172, 172);
}

#searchButton:active {
    background: rgb(0, 110, 110);
}

#searchButton:focus {
    outline: none;
}

#queryBar:valid ~ #searchButton {
    transform: translateY(0%);
}







